<div class="jumbotron ">
<div class="text-center py-3">
<h1 class="text-4xl font-light">Manojkumar</h1>
<h3 class="mt-2 text-2xl  font-semibold">Front end Dev</h3>
</div>
<ul class="flex gap-5 justify-center md:justify-end ">
    <li><a href="https://www.linkedin.com/in/manoj-kumar-bab706230/" target="_blank"><img class="w-8 h-8 rounded-full" src="../../assets/linkedin.png" alt=""></a></li>
    <li><a href="https://github.com/Manomk22" target="_blank"></a><img class="w-8 h-8 rounded-full" src="../../assets/github-sign.png" alt=""></li>
    <li><a href="https://www.instagram.com/mano_mku/?igsh=aGpweW1yZ3c5djQ1" target="_blank"></a><img class="w-8 h-8 rounded-full" src="../../assets/instagram.png" alt=""></li>
</ul>
</div>
