<div class="container">
    <div class="text-center border mb-5 rounded shadow">
<h1 class="text-4xl font-semibold mb-5">Contact</h1>
<p class="mb-3">I can be Reached at following email:<b> mkum1905&#64;gmail.com</b></p>
<p class="mb-3">Feel free to connect with me on any of the following platform:</p>
    </div>
    <ul>
        <li class="flex items-center border rounded-lg mb-3 p-2">
            <a href="https://www.linkedin.com/in/manoj-kumar-bab706230/" target="_blank" class="flex items-center">
                <img class="w-12 h-12 rounded-full" src="../../assets/linkedin.png" alt="">
                <h2 class="ml-14 text-2xl font-medium">LinkedIn</h2>
            </a>
        </li>
        <li class="flex items-center border rounded-lg mb-3 p-2">
            <a href="https://github.com/Manomk22" target="_blank" class="flex items-center">
                <img class="w-12 h-12 rounded-full" src="../../assets/github-sign.png" alt="">
                <h2 class="ml-14 text-2xl font-medium">Github</h2>
            </a>
        </li>
        <li class="flex items-center border rounded-lg p-2">
            <a href="https://www.instagram.com/mano_mku/?igsh=aGpweW1yZ3c5djQ1" target="_blank" class="flex items-center">
                <img class="w-12 h-12 rounded-full" src="../../assets/instagram.png" alt="">
                <h2 class="ml-14 text-2xl font-medium">Instagram</h2>
            </a>
        </li>
    </ul>
    
</div>