<nav class="border-b mb-3 shadow-lg ">
    <div class="container mx-auto py-2">
        <ul class="flex justify-center gap-6 text-xl font-medium text-slate-400  ">
<li class=""><a routerLink="/home" routerLinkActive="text-black">Home</a></li>
<li class=""><a routerLink="/portfolio" routerLinkActive="text-black"> Portfolio</a></li>
<li class=""><a routerLink="/resume" routerLinkActive="text-black">Resume</a></li>
<li class=""><a routerLink="/contact" routerLinkActive="text-black">Contact</a></li>

        </ul>
    </div>

</nav>